@normal: 18px;
@import "size";
@niceGrey: hsl( 220 , 13% , 18% );

.container {
  display: block;
  position: relative;
  background-color: transparent;
  font-family: Arvo;
  text-align: center;
}
  .mainAction {
    display: block;
    text-align: center;
    width: 30%;
    font-size: @normal;
    height: 3rem;
    background-color: #6ece46;
    border-radius: 50px;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
  }

  .additionalAction {
    margin-top: 2rem;
    display: block;
    text-align: center;
    width: 30%;
    font-size: @normal;
    height: 3rem;
    background-color: #ff1744;
    border-radius: 50px;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

