@font-face {
  font-family: RobotoLight;
  src: url('/static/font/Roboto-Light.ttf');
}

        


.imgStyle{
  height:184px;
  width:184px;
  border-radius:92px;
  position:absolute;
  left:50%;
  top:10%;
  transform: translateX(-50%);
}
.xiaowei{
	left: 50%;
	transform: translateX(-50%);
	position:absolute;
	top: 32%;
}
.bg{
  height: 100%;
  background-color: #0f131e;
}
.xiaowei{
  position: absolute;
  top: 38%;
  text-align: center;
  color: #e6f4e7;

}
.contactTime{
  position: absolute;
  top: 46%;
  left:50%;
  transform: translateX(-50%);

  color: #e6f4e7;
}
.contactTime h1{
  font-family: "RobotoLight";
}
.bar
{
  width: 32rem;
  height: 7rem;
  position: absolute;
  top:60%;
  left: 50%;
  transform: translateX(-50%);
}
.phonePos{
  position: absolute;
  width: 100%;
  top:76%;
}